<div class="flex flex-col frame-border relative">
  @let rolls = frame().rolls;
  @let firstRoll = rolls?.[0];
  @let secondRoll = rolls?.[1];
  @let thirdRoll = rolls[2];
  <div class="flex flex-row justify-between w-full h-full">
    @if (!frame().isLast) {
      <div class="flex justify-center items-center w-1/3 h-1/3">
        @if (frame().rule !== 'strike') {
          {{firstRoll}}
        }
      </div>
      <div
        class="flex justify-center items-center w-1/3 h-1/3 second-roll"
        [class.spare-background]="frame().rule === 'spare'"
        [class.strike-background]="frame().rule === 'strike'"
      >
        @if (frame().rule === 'default') {
          {{secondRoll}}
        }
      </div>
    }

    @if (frame().isLast) {
      <div class="flex justify-center items-center w-1/3 h-1/3">
        {{firstRoll}}
      </div>
      <div
        class="flex justify-center items-center w-1/3 h-1/3 second-roll"
        [class.spare-background]="frame().rule === 'spare'"
      >
        @if (frame().rule !== 'spare') {
          {{secondRoll}}
        }
      </div>

      <div class="flex justify-center items-center w-1/3 h-1/3 second-roll">
        {{thirdRoll}}
      </div>
    }
  </div>

  <div class="absolute bottom-0 w-full flex justify-center">
    {{frame()?.sum}}
  </div>
</div>
